<div class="text-body">
	<p>
		Pour réserver une salle, vous devez vous connecter ou créer un compte client pour consulter vos factures.
	</p>
	<p>
		Nous possédons trois types de salles, disponibles pour permettre vos réunions entre collègues ou entre amis.
	</p>
	<p>Salles disponibles : </br>
	- Un amphithéatre d'une capacité maximale de 200 personnes. </br>
	- Une salle de convivialité pour accueillir vos buffets. </br>
	- Huit salles de réunion de capacité maximale variable entre 12 et 50 personnes pour vos réunions. </br>
	</p>
	<p>
		Nous proposons la réservation de nos salles à nos ligues partenaires, aux clubs affiliés, aux collèges et lycées ainsi
		qu'également aux entreprises. 
	</p>
	
	<p>Tarifications : </br>
		<h4>- 	Pour les ligues partenaires :</h4>
		Une journée vous est offerte par an pour les salles d'amphithéatre mais également une salle de convivialité.
		Vous bénéficiez également de six jours de salles de réunion offerte sur votre année.</br>
		Toute journée supplémentaire est facturée.
		<table class="tableau"> 
			<caption>Tarifs applicables à partir du 1er janvier 2016</caption>
			<tr>
				<td><b>Amphithéatre</b></td>
				<td><b>Salle de réunion et salle conviviale</b></td>
			</tr>
			<tr>
				<td>1000 €</td>
				<td>200 €</td>
			</tr>
		</table>
	
		<h4> - Pour les clubs affiliés au site de la Maison des Ligues</h4>
		Différents tarifs vous seront applicables suivant les salles que vous souhaitez réserver par jour. 
		<table class="tableau"> 
			<caption>Tarifs applicables à partir du 1er janvier 2016</caption>
			<tr>
				<td><b>Amphithéatre</b></td>
				<td><b>Salle de réunion et salle conviviale</b></td>
			</tr>
			<tr>
				<td>1000 €</td>
				<td>400 €</td>
			</tr>
		</table>
		
		<h4> - Pour les collèges et lycées</h4>
		Pour les lycées et collégiens, la location est permise grâce au financement du Conseil Régional. 
		<table class="tableau"> 
			<caption>Tarifs applicables à partir du 1er janvier 2016</caption>
			<tr>
				<td><b>Amphithéatre</b></td>
				<td><b>Salle de réunion et salle conviviale</b></td>
			</tr>
			<tr>
				<td>1200 €</td>
				<td>500 €</td>
			</tr>
		</table>
		
		<h4> - Pour les entreprises et particuliers </h4>
		Les particuliers et entreprises peuvent également réserver nos locaux, pour ce faire, la création d'un espace
		client est nécéssaire, une facture sera éditée dès réception de l'accompte de la réservation, le délai de réservation
		varie entre sept et dix jours le temps que la réservation soit validée par le Conseil Régional. 
		<table class="tableau"> 
			<caption>Tarifs applicables à partir du 1er janvier 2016</caption>
			<tr>
				<td><b>Amphithéatre</b></td>
				<td><b>Salle de réunion et salle conviviale</b></td>
			</tr>
			<tr>
				<td>2100 €</td>
				<td>600 €</td>
			</tr>
		</table>
	</p>
	<div class="inline-button">
		<md-button class="md-raised"><a href="#" class="button">Réserver une salle</a></md-button>
	</div>
	

</div>