body {
	background-color : #ffae19 ; 
}
.header {
	background-color : blue ; 
	height : 100px ; 
	width : 90% ; 
	margin : auto ; 
}
.navbar {
	background-color : green ; 
	height: 50px; 
	width : 90% ;
	margin : auto ; 
}
.section {
	background-color : red ; 
	width : 90% ; 
	height : 550px ;
	margin : auto ; 
}

.footer {
	background-color : pink ; 
	width : 90% ; 
	margin : auto ;
	height : 50px;
}