body {
	background-color : #ffae19 ; 
}
.header {
	background-color : blue ; 
	height : 100px ; 
	width : 90% ; 
	margin : auto ; 
}
.navbar {
	background-color : green ; 
	height: 50px; 
	width : 90% ;
	margin : auto ; 
}
.section {
	background-color : red ; 
	width : 90% ; 
	height : 550px ;
	margin : auto ; 
}

.footer {
	background-color : pink ; 
	width : 90% ; 
	margin : auto ;
	height : 50px;
}
.list-item, .list-item ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.list-item {
    text-align: center;
}
.list-item li {
    display: inline-block;
}
.list-item ul li {
    display: inherit;
}
.list-item a {
    text-decoration: none;
    display: block;
	color:#000;
}
.list-item ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
.list-item li:hover ul {
    left: auto;
}