header {
	background-color: blue ; 
	width : 86% ; 
	height : 150px; 
	margin : auto ;
}
nav {
	background-color: red ; 
	width : 25% ;
	margin-left : 7% ;
	height : 550px ; 
	display : flex ; 
}
section {
	background-color: green  ;
	width : 61% ; 
	margin-right : 7% ;
	height : 550px; 
	display : flex; 
}
footer {
	background-color: yellow ; 
}