<div class="text-body">
	<div class="container">
		<div class="blocleft">
			<img ng-src="{{$ctrl.amphitheatre}}" alt = "Amphitheatre" width="500px" />
		</div>
		<div class="blocright">
			<md-button class="md-raised md-warn">Réserver cette salle</md-button>
		</div>
	</div>
	
	<div class="container">
		<div class="blocleft">
			<img ng-src="{{$ctrl.conviv}}" alt = "conviv" width="500px" />
		</div>
		<div class="blocright">
			<md-button class="md-raised md-warn">Réserver cette salle</md-button>
		</div>
	</div>
	
	
	<div class="container">
		<div class="blocleft">
			<img ng-src="{{$ctrl.reunion}}" alt = "reunion" width="500px" />
		</div>
		<div class="blocright">
			<md-button class="md-raised md-warn">Réserver cette salle</md-button>
		</div>
	</div>
</div>