.info {
h3 {
	margin : auto;
}

.tableau {
	border-radius : 4px; 
	border-collapse : collapse ;
	margin-top : 15px ;
}
.tableau td {
		margin-top : 15px ;
		border : 1px solid ;
		text-align : center ;
	}
}
