@import 'info';
@import 'register'; 

.nodecoration {
text-decoration : none ;
}
.label {
    color: red;
}
.error {
    color: darkred !important;
}

md-input-container label{
    color: rgb(63,81,181);
}


