<div class="text-body">
	<form>	
		<md-input-container>
				<label>Nom d'utilisateur : </label>
				<input type="text" >
		</md-input-container>
		</br>
		<md-input-container>
				<label>Adresse email :  </label>
				<input type="text"> 
		</md-input-container>
		</br>
		<md-input-container>
				<label>Confirmez l'adresse email :  </label>
				<input type="text"> 
		</md-input-container>
		</br>
		<md-input-container>
				<label> Mot de passe</label>
				<input type="Password">
		</md-input-container>
		<span> | </span>
		<md-input-container>
				<label>Confirmer le mot de passe</label>
				<input type="Password">
		</md-input-container>
		</br>
		<md-input-container>
				<label> Numéro : </label>
				<input type="number" class="nodecoration">
		</md-input-container>
		<md-input-container>
				<label> Nom de la rue : </label>
				<input type="text">
		</md-input-container><md-input-container>
				<label> Ville : </label>
				<input type="text">
		</md-input-container>
		<md-input-container>
				<label> code postal : </label>
				<input type="number">
		</md-input-container>
		<md-select ng-model="$ctrl.user.adress.country">
			 <md-option ng-repeat="country in $ctrl.countries" value="{{country}}">
			   {{country}}
			 </md-option>
		</md-select>
	</form>
	 <div class="inline-button">
		<md-button class="md-raised"><a href="#" class="button">S'inscrire</a></md-button>
	</div>
</div>